@font-face {
  font-family: 'leanote';
  src: url('../fonts/leanote-font2/leanote.eot');
  src: url('../fonts/leanote-font2/leanote.eot') format('embedded-opentype'), url('../fonts/leanote-font2/leanote.ttf') format('truetype'), url('../fonts/leanote-font2/leanote.woff') format('woff'), url('../fonts/leanote-font2/leanote.svg#leanote') format('svg');
  font-weight: normal;
  font-style: normal;
}
